header{
    background-color: white;
    color: white;
    padding: 10px;
    display:flex;
    height: 80px;
    width: 100%;
}
.main-title{
    font-size: 1.5em;
    margin-left: 10px;
    background-color: white;
    height: 80px;
    width: 800px;
    text-align: right;
    color: black;
    letter-spacing: 2px;
}
.drop-down-icon{
    
}
.item-hide{
    display: none;
}
.item-show{
    transition: height 0.5s ease-in-out;
    display: block;
}

@media (max-width: 768px) {
    .main-title {
        font-size: 1.5em; 
        width: 100%;
        text-align: center;
        margin-left: 0; 
    }

    header {
        display: flex;
        height: 80px;
        position: sticky;
    }
}
@media (max-width: 480px) {
    .main-title {
        font-size: 1em; 
}
}