header{
    background-color: white;
    color: white;
    padding: 0px;
    display:flex;
    height: 80px;
    width: 100%;
}
header ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    padding-top: 10px;
    margin: 0;
    background-color: yellow !important;
    width: 142px;
    height: 240px;
}
header li{
    margin: 0;
    padding-top: 20px;
    background-color: yellow !important;
    display: flex;
    justify-content: center;
}
header a{
    text-decoration: none;
    color: black;
    position: relative;
    background-color: violet;
}
.main-title{
    font-size: 1.5em;
    margin-left: 10px;
    background-color: white;
    height: 80px;
    width: 800px;
    text-align: right;
    color: black;
    letter-spacing: 2px;
}
.drop-down-icon{
    transform: translateY(5px) rotate3d(1, -20, 0, -180deg);
    transition: all 0.8s;   
    border: none;
    background-color: white;
}
.drop-down-icon:hover{
    transform: translateY(-10px) rotate3d(1, 20, 0, 180deg);
    transition: all 0.8s;
}
.drop-down-content{
    transform: scale(0);
}
.show{
    display: block;
    border-radius: 10px;
}
.fade-in{
    transform: scale(1);
    animation: sizeup 0.2s ease-in-out;
}
@keyframes sizeup {
    from{
       opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .main-title {
        font-size: 1.5em; 
        width: 100%;
        text-align: center;
        margin-left: 0; 
    }

    header {
        display: flex;
        height: 80px;
        position: sticky;
    }
}
@media (max-width: 480px) {
    .main-title {
        font-size: 1em; 
}
}