{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Document{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
    <script></script>
</head>
<body>
    <header>
        <nav>
            <button style="font-size: 3.5em;" class ="drop-down-icon">&#127828;</button>
            <ul class = "drop-down-content">
                <li><a href="index.hteml">HOME</a></li>
                <li><a href="menu.html">MENU</a></li>
                <li><a href="gallery.html">GALLERY</a></li>
                <li><a href="about.html">ABOUT</a></li>
                <li><a href="contact.html">CONTACT</a></li>
            </ul>
        </nav>
        <div class="main-title">PERSIAN CAFE</div>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>